numpy
pandas
scipy
scikit-learn
matplotlib
tqdm
pyyaml
joblib

jupyter
ipykernel

transformers
datasets
accelerate
evaluate
tokenizers
sentencepiece
safetensors

regex
unidecode
emoji
underthesea

pytest
pytest-cov
ruff
black
python-dotenv
cleanlab>=2.6,<3.0
great_expectations>=0.18,<1.0
